<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.yoast.dapp"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Drugsinfo</name>

    <description>
        Information about how to handle drugs related miseries.
    </description>

    <author href="https://yoast.com/author/taco" email="taco@yoast.com">
        Taco Verdonschot
    </author>

    <author href="https://yoast.com/author/jip" email="jip@yoast.com">
        Jip Moors
    </author>

</widget>