* {
    position: relative;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
}

.container {
    width: 100%;
    padding: 1em;
}

h1 {
    margin: 0;
}

h2, h3, h4 {
    margin-top: 1.2em;
    margin-bottom: 0;
}
p {
    margin-top: 0.5em;
}

span {
    margin-right: 10px;
}

span::before {
    content: '[';
    margin-right: 5px;
    color: #ddd;
}

span::after {
    content: ']';
    margin-left: 5px;
    color: #ddd;
}

#back {
    display: block;
    padding: 4px 10px;
    font-size: 1em;
    line-height: 30px;
    font-weight: bold;
}