
#header .title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;

    color: white;
}

#header {
    padding: 25px 10px 10px;
    background: #0e69a7;
}

#find #search {
    width: 100%;
    padding: 10px 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1);
}

#list {
    padding: 0 10px 10px;
}

#list .drug {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 16px 1em;

    cursor: pointer;
}

#list .drug h1 {
    margin: 0 0 4px;
    color: black;
}

#list .drug span {
    margin-right: 10px;
    color: #666;
}

#list .drug span::before {
    content: '[';
    margin-right: 5px;
    color: #ddd;
}

#list .drug span::after {
    content: ']';
    margin-left: 5px;
    color: #ddd;
}

#list .drug:after {
    content: '';
    position: relative;
    float: right;
    margin-top: -1em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #0e69a7;
}

#list .drug.hidden {
    display: none;
}